main{
    position: relative; 
}

#results-products{
    flex-direction: column;
    .products{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding: 20px;
    }

    .end-message{
        margin-top: 60px;
        letter-spacing: 0.2rem;
    }

}

#filter-section{
    position: fixed;
    display: none;
    height: 100dvh;
    width: 100%;
    max-width: 45vw;
    top: 10dvh;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--darkAccent2);
    .filters{
        fieldset{
            border: none;
            label{
                input{
                    margin-right: 5px;
                }
            }
        }
        .category{
            margin-left: 10px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;        
        }
        #price-range{
            display: flex;
            gap: 10px;
            input{
                width: 60%;
            }
        }

        .filter-button, .filter-background{
            position: absolute;
        }
        .results-filter-button{
            margin: 10px;
            background-color: var(--darkAccent1);
            color: var(--darkMainFont);
            border-radius: 12px;
            border: none;
            padding: 5px 10px;
            font-weight: bold;
            font-size: 1rem;
            letter-spacing: 0.2rem;
            &:hover{
                background-color: var(--darkAccent3);
            }
        }
        .filter-button{
            top: 10px;
            right: -50px;
            width: 40px;
            height: 40px;
            z-index: 5;
            background-color: var(--darkAccent2);
            img{
                width: 38px;
                height: auto;
            }
            &:hover{
                background-color: var(--darkAccent3);
            }
        }
        .filter-background{
            top: 0;
            right: -222%;
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.4);
            height: 100dvh;
            width: 100vw;
        }
        .filter{
            margin-left: 10px;
        }
    }

}