#undetected{
    display: flex;
    div{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 10%;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: clamp(20px, 10%, 100px) 0;
            height: 10%;
            width: 100%;
            background-color: var(--darkAccent2);
            font-size: 2rem;
            font-weight: 700;
            transition: background-color 0.12s;

            &:hover{
                background-color: var(--darkAccent3);
            }
        }
    }
    
}

#register, #login{
    .details-form{
        margin-top: 40px;
        width: 60%;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            fieldset{
                border: none;
                width: 100%;
                padding: 8px;
                legend{
                    font-size: 100%;
                }

                input{
                    width: 100%;
                    height: 1.8rem;
                    border-radius: 20px;
                    border: none;
                }
            }
            .s-button{
                margin-top: 20px;
                cursor: pointer;
                width: 60%;
                background-color: var(--darkAccent2);
                border: none;
                border-radius: 4px;
                padding: 3% 10%;

                &:hover{
                    background-color: var(--darkAccent3);
                }
            }
        }
    }

    
}
.extra-option{
    margin-top: 60px;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        letter-spacing: 0.2rem;
    }

    &:hover{
        text-decoration: underline;
    }
}

#register{
    display: none;
}

#login{
    display: none;
}

#greeting{
    display: none;
}
