section{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body{
    height: 100dvh;
    width: 100vw;
}

main{
    width: 100%;
    height: 100%;
}

.section-dialogue{
    font-size: clamp( 1rem, 4vw, 5rem);
    text-align: center;
}