#undetected{
    display: none;
    div{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 10%;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: clamp(20px, 10%, 100px) 0;
            height: 10%;
            width: 100%;
            background-color: var(--darkButton1);
            font-size: 2rem;
            font-weight: 700;
        }
    }
    
}

#register{
    display: flex;

    .details-form{
        width: 60%;
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            fieldset{
                width: 100%;
                legend{

                }

                input{
                    width: 100%;
                }
            }
            .s-button{
                cursor: pointer;
                width: 60%;
                background-color: var(--darkButton1);
            }
        }
    }

    .wrong-option{
        cursor: pointer;
        letter-spacing:;
        font-size: 0.5rem;
        &:hover{
            text-decoration: underline;
        }
    }
}

#login{
    display: none;
}

#greeting{
    display: none;
}
