:root{
    --darkModeHeader1:#020731;
    --darkModeHeaderHover1:#282d5c;
    --darkModeBackground1:#000210;
    --darkModeProductBackground: #0d1450;
    --darkModeProductBackgroundHover: #16207a;
    --darkModeMajorFontColor:#3971FE;
    --darkModeButtonColor1: #00053A;
    --darkModeButtonHoverColor1: rgb(30, 30, 83);
    --darkModeSubsidiary1: #37394e;
}