*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    color: var(--darkMainFont);
}

body{
    background-color: var(--darkAccent1);
}

button{
    cursor: pointer;
    border: none;
}