
#product-section{
    padding-top: 8dvh;
    .prod-desc{
        flex-direction: column;
        background-color: var(--darkAccent3);
        height: auto;
        min-height: 600px;
        width: 560px;
        .main-desc, .more-desc{
            flex: 1;
            width: 100%;
        }   
        .main-desc{
            display: flex;

            > figure{
                background-color: var(--darkAccent6);
                width: 65%;
                min-width: 45%;
                img{
                    width: 75%;
                    height: auto;
                    object-fit: cover;
                }
            }
            .desc{
                flex-direction: column; 
                
                div, > figure{
                    padding: 10px;
                    width: 100%;
                    border-bottom: 1px solid var(--darkAccent4Transparent);
                }
                .prod-name{
                    height: max-content;
                    p{
                        font-size: 2em;
                        color: var(--darkAccent4);
                    }
                }
                .seller-name{
    
                }
                .prod-rating{
    
                }
                .prod-categories{
                    .tags{
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .add-to-cart-div{
                    flex: 1;
                    border:none;
                    button{
                        border-radius: 10px;
                        padding: 10px;
                        background-color: var(--cartAccent2);
                        color: var(--darkAccent4);
                        box-shadow: 0 0 20px 2px var(--cartAccent2Transparent);
                        transition: all 0.12s;
                        &:hover{
                            box-shadow: 0 0 20px 6px var(--cartAccent2Transparent);
                        }
                    }
                }
            }
        }
        .more-desc{
            border-top: 1px solid var(--darkAccent4Transparent);
            padding: 10px 20px;
            h2{
                margin-bottom: 10px;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 30px;
                p{
                    letter-spacing: 0.2rem;
                }
            }
        }
    }
    
}

#more-like-this-section{
    h2{
        margin-bottom: 14px;
    }
}

#reviews-section{
    padding: 10px 10%;
    h2{

    }
    .reviews{
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-top: 20px;
        .review{
            padding-left: 30px;
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .user{
                display: flex;
                gap: 10px;
                img{

                }
                .user-name{
                    font-weight: bold;
                }
            }
            .rating{
                display: flex;
                gap: 10px;
                img{

                }
                .rating-head{
                    font-weight: bold;
                }
            }
            .trans-details{
                *{
                    color: var(--darkAccent4Transparent);
                }
                
                .date{

                }
                .trans-prod-details{

                }
            }
            .review-details{

            }
            .helpful{
                display: flex;
                flex-direction: column;
                gap: 10px;
                p{
                    color: var(--darkAccent4Transparent);
                }
                div{
                    display: flex;
                    gap: 30px;
                    transition: all 0.12s;
                    height: 40px;
                    width: 100%;
                    button{
                        color: var(--darkAccent4);
                        padding: 8px;
                        border-radius: 20px;
                        transition: all 0.12s;
                        &:hover{
                            border: 1px solid var(--darkAccent4);
                        }
                    }
                    .helpful-button{
                        background-color: var(--darkAccent6);
                    }
                    .report-button{
                        background-color: transparent;
                        
                    }
                }
            }
        }
    }
}